<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="3.2.0" targetFramework="net45" />
  <package id="Espera-Network" version="1.0.33" targetFramework="net45" />
  <package id="Lager" version="0.3.0" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Bcl.Compression" version="3.9.83" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="NSubstitute" version="1.7.2.0" targetFramework="net45" />
  <package id="ReactiveMarrow" version="0.5.0" targetFramework="net45" />
  <package id="reactiveui-core" version="5.5.1" targetFramework="net45" />
  <package id="reactiveui-testing" version="5.5.1" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Testing" version="2.2.5" targetFramework="net45" />
  <package id="Splat" version="1.0.0" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="1.4.0.85" targetFramework="net45" />
  <package id="System.IO.Abstractions.TestingHelpers" version="1.4.0.85" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>