<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache.core" version="4.1.2" targetFramework="net45" />
  <package id="Caliburn.Micro" version="2.0.2" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.2" targetFramework="net45" />
  <package id="DeltaCompressionDotNet" version="1.0.0" targetFramework="net45" />
  <package id="Lager" version="0.4.2" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.8.3" targetFramework="net45" />
  <package id="reactiveui-core" version="6.5.0" targetFramework="net45" />
  <package id="reactiveui-testing" version="6.5.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Testing" version="2.2.5" targetFramework="net45" />
  <package id="Rx-XAML" version="2.2.5" targetFramework="net45" />
  <package id="Splat" version="1.6.2" targetFramework="net45" />
  <package id="squirrel.windows" version="0.9.3" targetFramework="net45" />
  <package id="System.IO.Abstractions" version="2.0.0.124" targetFramework="net45" />
  <package id="System.IO.Abstractions.TestingHelpers" version="2.0.0.124" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net45" />
</packages>