
_ReSharper*
[Bb]in/
[Oo]bj/
TestResults
publish
_NCrunch*

*.suo
*.user
*.psess
*.vsp
*.ncrunchproject
*.ncrunchsolution
*.pdb
/Espera/packages/Caliburn.Micro.1.3.1/lib/sl4
/Espera/packages/Caliburn.Micro.1.3.1/lib/sl4-windowsphone71
/Espera/packages/Caliburn.Micro.1.3.1/lib/sl5
/Espera/packages/Caliburn.Micro.1.3.1/lib/WinRT45
/Espera/packages/Caliburn.Micro.1.3.1/tools/sl4
/Espera/packages/Caliburn.Micro.1.3.1/tools/sl4-windowsphone71
/Espera/packages/Caliburn.Micro.1.3.1/tools/sl5
/Espera/packages/Moq.4.0.10827/lib/NET35
/Espera/packages/Moq.4.0.10827/lib/Silverlight4
/espera/packages/Newtonsoft.Json.4.5.9/lib/sl4
/espera/packages/Newtonsoft.Json.4.5.9/lib/sl4-windowsphone71
/espera/packages/Newtonsoft.Json.4.5.9/lib/winrt45
/espera/packages/Newtonsoft.Json.4.5.9/lib/net20
/espera/packages/Newtonsoft.Json.4.5.9/lib/net35
/espera/packages/Newtonsoft.Json.4.5.9/lib/sl3-wp