<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Espera.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Espera.View.Properties.Settings>
      <setting name="AccentColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="LocalTitleColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LocalDurationColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LocalArtistColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LocalAlbumColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LocalGenreColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="YoutubeTitleColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="YoutubeDurationColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="YoutubeRatingColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="YoutubeLinkColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PlaylistTitleColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PlaylistDurationColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PlaylistArtistColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PlaylistAlbumColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PlaylistGenreColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PlaylistSourceColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LocalPathColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PlaylistHeight" serializeAs="String">
        <value>*</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="YoutubeViewsColumnWidth" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LockWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GoFullScreenOnLock" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SongSourceHeight" serializeAs="String">
        <value>*</value>
      </setting>
    </Espera.View.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.11.0" newVersion="2.5.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.11.0" newVersion="2.5.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.30214.0" newVersion="2.1.30214.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Abstractions" publicKeyToken="d480b5b72fb413da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.72" newVersion="1.4.0.72" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.GData.Client" publicKeyToken="04a59ca9b0273830" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.GData.Extensions" publicKeyToken="0b4c5df2ebf20876" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>