<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.4.1" targetFramework="net40" />
  <package id="MahApps.Metro" version="0.10.1.1" targetFramework="net40" />
  <package id="morelinq" version="1.0" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ookii.Dialogs" version="1.0" targetFramework="net40" />
  <package id="Rareform" version="1.4.0" targetFramework="net40" />
</packages>