<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Espera.Core.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Espera.Core.CoreSettings>
      <setting name="StreamYoutube" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LockVolume" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LockTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LockPlaylistRemoval" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PlaylistTimeout" serializeAs="String">
        <value>00:00:30</value>
      </setting>
      <setting name="EnablePlaylistTimeout" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LockLibraryRemoval" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LockPlayPause" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LockPlaylistChanging" serializeAs="String">
        <value>True</value>
      </setting>
    </Espera.Core.CoreSettings>
  </userSettings>
</configuration>