<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.GData.Client" version="2.1.0.0" />
  <package id="Google.GData.Extensions" version="2.1.0.0" />
  <package id="Google.GData.YouTube" version="2.1.0.0" />
  <package id="NAudio" version="1.5" />
  <package id="Newtonsoft.Json" version="4.0.8" />
  <package id="Rareform" version="1.2.0" />
  <package id="taglib" version="2.1.0.0" targetFramework="net40" />
  <package id="YoutubeExtractor" version="0.2.0" targetFramework="net40" />
</packages>